<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang=en-us class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang=en-us class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang=en-us class="no-js ie8"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ title }}</title>

    <meta content="en-us" http-equiv="Content-Language">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="Copyright &copy;" name="author">

    <!-- StyleSheets -->
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/960.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Javascripts -->
    <script src="/js/libs/modernizr-1.7.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/js/libs/jquery-1.6.2.min.js'>\x3C/script>")</script>
    <script src="/js/app.js"></script>

  </head>
  <body>

    <div class="container_12">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>
